/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  .main-header {
    font-family: monospace, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    color: green;
    border: 2px solid black;
    padding: 10px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow:  6px 10px 10px 0px #94D279; /** check the parameters for this later 
    on W3Schools **/ 
  }