@font-face {
  font-family: "Open-Sans";
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    border:  1px solid lightgray;
  }

body {
  margin: auto;
}

.header-image {
  background-color: rgb(33, 33, 33);
  width: auto;
  height: auto;
  text-align: right;
  padding: 10px;
  margin: auto;
}

.main-header-container {
  text-align: center;
  font-size: 14px;
}

.local-header-title {
  background-color: rgb(0, 104, 0);
  color:white;
  font-size: 8px;
  font-family: "Open-sans";
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  position: relative;
  width: auto;
}

img[src="../images/search.svg"] {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 15px;
  margin-top: -7px;
}


.background-image {
  background-color: red;
  background-image: url(../images/bg-3.png);
  background-color:rgb(255, 252, 245);
  background-repeat: no-repeat;
  /* Having trouble trying to size this accurately so that it looks the same as the find a room website, not sure why.
  Think it's something to do with the sizing or position - TO COMPLETE */
}

.container {
  position: relative;
}

a {
text-decoration: none;
}

a:link {
  color: white;
  font-size: 16px;
}

a:visited {
  color: white;
}

/* a:focus {

} */

a:hover {
  text-decoration: underline;
}

/* a:active {

} */

